@charset "utf-8";
body{
  text-align: center;
  margin: 0 auto;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav{
  margin-left:2.43rem;
}
header ul{
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 4rem;
  list-style: none;
  display: flex;
}
header ul li{
  padding-left: 1.8rem;
}
header .set{
  display: none;
  width: 50px;
}
/* body_1 */
.body_1{
  text-align: left;
}
.body_1 nav{
  padding: 4.6rem 2.8rem 3.2rem 2.8rem;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  position: relative; 
  gap: 3rem;
}

.body_1 div{
  /* padding-top: 200px; */
  margin-left: 6rem;
  max-width: 44.8rem;
}
.body_1 .title{
  font-weight: bold;
  font-size: 2.4rem;
}
.body_1 p{
  padding-top: 1.6rem;
}
.baner img{
  display: block;
  width: 100%;
}

/* 가로 십자 선 */
nav::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eee; 
  z-index: -1;
}
/* 세로 십자 선 */
nav::after {
  content: "";
  position: absolute;
  left: 50%; 
  top: 10%;
  width: 1px;
  height: 80%;
  background-color: #eee; 
  z-index: -1;
}
/* .body_1 .order_1{
  border-right: 1px solid #eee;   
}
.body_1 .order_2{
  border-bottom: 1px solid #eee;   
}
.body_1 .order_3{
  border-top: 1px solid #eee;   
}
.body_1 .order_4{
  border-left: 1px solid #eee;   
}  */
/* .body_1 div .order_1::after{
  height: 100%;
  color: #eee;
  top: 0;
    left: -1px;
} */


/* 본문2  */
.body_2{
  
}
.body_2 img{
  display: block;
}
.body_2 .img_box{
  grid-template-columns: repeat(4 , 1fr);
  grid-auto-rows: 10vw;
  display: grid;
}
.body_2 .img_box .box{
  border: 1px solid #000;
  overflow: hidden;
}
.body_2 .img_box img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.body_2 .img_box .box1{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.body_2 .box2{
  grid-column: 3/4;
  grid-row: 1 / 2;
}
.body_2 .box3{
  grid-column: 4/5;
  grid-row: 1 / 2
}
.body_2 .box4{
  grid-column: 3/5;
}
.body_2 .box5{
  grid-column: 1/3;
}
.body_2 .box6{
  grid-column: 3/4;
}
.body_2 .box7{
  grid-column: 4/5;
}


/* 본문 3 */
.body_3{
  margin: 4.22rem;
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .body_3 h1{
  font-size: 4.425rem;
  }
.body_3 .img_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body_3 .img_list div{
  margin-top: 2.842rem;
}
.body_3 .img_list div .img_box{
  width: 40vw;
  margin: 10px;
}
.body_3 .img_list div ul .img_title{
  font-weight: bold;
  font-size: 1.62rem;
}
.body_3 .img_list div ul .img_con{
  font-weight: 500;
}
/* 본문 4 유튜브 나와야함 (아씨 왜 유튜브 거부 당하는거지) */
.body_4{
  background: #e9ecef;
  padding: 7vw 10vw;
}
.body_4 nav{
flex-grow: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  justify-content: space-between;
}
.body_4 .title{
  text-align: left;
  font-size: 3.842rem;
}
.body_4 .title_con{
  text-align: left;
  width: 50%;
}


/* 본문 5  */
  .body_5 h1{
  font-size: 3.425rem;
  }
.body_5 nav{
  margin: 0 20px;
display: flex;
justify-content: space-between;
}
.body_5 nav .img_1{
  width: 346px;
  /* border: 1px solid; */
}
.body_5 nav .img img{
  width:346px;
  height: 288px;
}
.body_5 .img .txt{
  margin: 10px;
  text-align: left;
}


/* 지도 */
.add{
  margin: 74px;
}
.add h1{
  font-size: 3.425rem;
}
.add .title{
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #eee 
}
.add .title li{
  text-transform:uppercase;
  font-weight: bold;
  margin: 0 20%;
}
.add .map{
  margin: 45px;
  padding: 24rem 0;
  border: 1px solid #000;
}

.add ul li ul{
  margin-top: 2.185px;
  padding: 1.8rem;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.add ul li ul .front{
  width: 150px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.add ul li ul .back{
  justify-content: start;
}

/* 본문 6 */
.body_6{
  background-image: linear-gradient(rgba(105,169, 197, 0.8),rgba(105,169, 197, 0.8)),url(../img/img-bg.jpg);
  background-size: cover;
  background-attachment: fixed;;
}
.body_6 .txt{
  padding: 74px;
  color: #fff;
}
.body_6 h1{
  font-size: 4.284rem;
}
.body_6 p{
  font-weight: 10;
  margin-bottom: 60px;
}
.body_6 a{
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 5%;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.body_6 a:hover{
  background-color: #fff;
  color: #000;
}


/* footer a */
.footer_a{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.footer_a .logo{
  display: block;
  width: 120px;
}
.footer_a div{
  margin: 4rem;
}
.footer_a .footer_list{
  display: flex;
  text-align: left;
}
.footer_a .footer_list ul {
  margin-top: 1rem;
}
.footer_a .footer_list .icon .ul{
  display: flex;
}
.footer_a .footer_list .icon ul img{
  width: 30px ;
}

.footer_b{
  color: #2d2d2d;
  font-weight: 100;
  width: 100%;
  line-height: 3.62rem;
  background-color: #ddd;
  padding: 2rem;
}
